// SPDX-License-Identifier: GPL-3.0
pragma solidity >=0.7.0 <0.9.0;

contract {{ent['entity-name'] -}}Cm {
    struct {{ent['entity-name'] -}}Index {
        bytes32 {{ent['entity-name'] -}}Key;
        uint valueRef;
    }

    struct {{ent['entity-name'] -}} {
        {%- for fld in flds %}
        {{fld['type'] | eth_type}} {{fld.name}};   // {{fld['type']}}
        {%- endfor %}
    }

    uint num{{ent['entity-name'] -}}s;
    mapping(uint => {{ent['entity-name'] -}}) {{ent['entity-name'] | var_name}}s;
    mapping(address => {{ent['entity-name'] -}}Index[]) public owners;
}

