    pub interface {{ent.name}}Activities {
    {%- for srv in srvs %}
        @ActivityMethod(scheduleToCloseTimeoutSeconds = 10)
        ServiceResult<{{srv.output}}> {{srv.name}}({{srv.input}} input); // {{ srv.desc }}
    {%- endfor %}
    }

    static final String TASK_LIST = "{{ent.name}}Activity";
    pub interface {{ent.name}}Workflow {
    {%- for srv in srvs %}
        @WorkflowMethod(executionStartToCloseTimeoutSeconds = 10, taskList = TASK_LIST)
        ServiceResult<{{srv.output}}> {{srv.name}}({{srv.input}} input); // {{ srv.desc }}
    {%- endfor %}
    }

    public static class {{ent.name}}WorkflowImpl implements {{ent.name}}Workflow {

        private final {{ent.name}}Activities activities =
            Workflow.newActivityStub({{ent.name}}Activities.class);

        {%- for srv in srvs %}
        @Override
        public ServiceResult<{{srv.output}}> {{srv.name}}({{srv.input}} input) {
            // This is a blocking call that returns only after the activity has completed.
            return activities.{{srv.name}}(input);
        }
        {%- endfor %}
    }

