#[derive(Debug, Serialize, Deserialize, Clone)]
#[serde(rename_all = "camelCase")]
pub struct {{ srv.name | pascal }}Cr {
{%- for fld in inputs %}
    {% if fld.optional -%}
    #[serde(skip_serializing_if = "Option::is_none")]
    {% endif -%}
    pub {{fld.name | snake_case}}: {% if fld.optional %}Option<{% endif %}{{fld['type_name'] | plain_type}}{% if fld.optional %}>{% endif %},
{%- endfor %}
}

impl {{ srv.name | pascal }}Cr {
    pub fn new({{ reqs }}) -> Self {
        {{ srv.name | pascal }}Cr {
{%- for fld in inputs %}
            {% if fld.optional -%}
            {{fld.name | snake_case}}: Default::default(),
            {%- else -%}
            {{fld.name | snake_case}},
            {%- endif -%}
{%- endfor %}
        }
    }
}

const {{ srv.name | static_var }}: &'static str = "{{ srv.name }}";
